body {
  background-color: #fafaf9;
}

.card {
  width: 368px;
  background-color: #ffffff;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
  border-radius: 16px;
  margin: auto;
  margin-top: 164px;
}

img {
  width: 100%;
  border-radius: 10px;
}

.blog-image {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.chip {
  background-color: #e6d6fc;
  width: max-content;
  color: #883ae1;
  font-family: "Sora", sans-serif;
  font-size: 10px;
  margin-left: 16px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.chip p {
    padding: 6px 16px;
    font-weight: 500;
}

.blog-content h1 {
  margin-left: 16px;
  font-family: "Sora", sans-serif;
  font-size: 18px;
  margin-bottom: 0px;
}

.blog-desc {
  margin-left: 16px;
  margin-right: 16px;
  font-family: "Sora", sans-serif;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: lighter;
}

.blog-content {
  padding-bottom: 20px;
}

.author p {
  color: #6c727f;
  font-family: "Sora", sans-serif;
  font-size: 12px;
  margin-left: 16px;
  padding-bottom: 20px;
  margin-top: 20px;
}

hr {
  border-color: #e5eaf0;
}
